
body{
    background-color:white;
    font-family: "EB Garamond", serif;
}
.header{
    height: 500px;;
    width:100%;
    max-width:1370px;
    border-radius:10px 10px 10px 10px ;
    margin-top:5px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.bg-video{
    position:absolute;
    top:50%;
    left:50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
    object-fit:cover;
    z-index:-1;
}
.tex {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    text-align:center;
    line-height:500px;
}
.image h1{
    font-size: clamp(26px, 5vw, 60px);;
    color: #EAE4DA    ;
}
.header a{
    color:white;
    font-size: 18px;
}
.nav {
    justify-content: end;
    border-radius:10px 10px 10px 10px ;
    width:100%;
    
}

.header a:hover{
    color:black ;
    font-size: 18px;
    border:2px;
    border-color: black;
}
.why {
    text-align: center;
    font-size: 40px;
    color: #1E2A38 ;
    font-weight: 300;
}
.row {
    font-size: 20px;
}
.paraimg{
    margin-top:10px;
    margin-bottom:20px;
}
.card{
    background-color: #F5EBD6;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    border-radius: 10px 10px 10px 10px;
    color: #1E2A38;
    border-color: none;
}
.footer{
    margin-top:10px;
    background-color: white;
}
.card .btn{
    background-color: #C7AE7C;
    color: #2F261A;
}
.card .btn:hover{
    background-color:#B89E6D;
    color: #2F261A
}
                   
.mb-12 i{
    color: #F5EBD6;
}
