
body{
    background-color: #8FA3B8;
    font-family: "EB Garamond", serif;
}
.container-fluid{
    background-image:url(Images/aswin-p-s-9_XgDC7wPyQ-unsplash.jpg);
    height:500px;
    width:1370px;
    border-radius:10px 10px 10px 10px ;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    
}
.tex {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    text-align:center;
    line-height:500px;
}
.image h1{
    font-size:80px;
    color: #F5F7FA;
}
.header a{
    color:#D1D5DB;
    font-size: 18px;
}
.nav {
    justify-content: end;
    background-color: rgba(46,58,71,0.2);
    border-radius:10px 10px 10px 10px ;
}

.header a:hover{
    color:#E6EDF3;
    font-size: 18px;
    border:2px;
    border-color: black;
}
.why {
    text-align: center;
    font-size: 40px;
    color: #1E2A38 ;
    font-weight: 300;
}
.row {
    font-size: 20px;
}
.paraimg{
    margin-top:10px;
    margin-bottom:20px;
}